<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Section | Josaa Analysis</title>
    <link href="css/about.css" rel="stylesheet">   
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>

    <!-- NAVBAR  -->

  <nav class="navbar navbar-expand-lg bg-color">
    <div class="container">
      <a class="navbar-brand text-white" href="/" style="font-size: 33px;font-weight:300;">Josaa Analysis Portal</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse p-3" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-4">
          <li class="nav-item">
            <a class="nav-link" href="/">Trend</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#rank-wise-section">Rank Wise</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>


    <div class="about-section">
        <h1>About Us</h1>
    </div>
    <div class="para">
        <p>
            Welcome to our website, your destination for simplified and insightful information about higher education admissions in IITs. We understand that navigating through the vast amount of data available on official websites can be overwhelming, which is why we have created a user-friendly platform to extract and present crucial information from the Joint Seat Allocation Authority (JoSAA) official website.

            At our website, we aim to provide you with a comprehensive overview of the Opening and Closing Rank Trends, helping you make informed decisions and find the best possible options for your educational journey. We have carefully curated and organized the data from JoSAA to make it easier to analyze, saving you valuable time and effort.
            Here's what you can expect:
        </p> 
        <p>
            <h3>Streamlined Information:</h3>We have extracted and condensed the essential information from the JoSAA official website, eliminating unnecessary complexities and presenting it in a clear and concise manner.
        </p>   
        <p>
            <h3>Searching and Filtering:</h3>Our website provides a powerful search and filtering system that allows you to customize your search based on your preferences. You can filter by college, branch, category and gender, ensuring that you find the options that best match your needs.
        </p>
        <p>
            <h3>How to Use it</h3><br>
            <h5>OR-CR Trend :</h5>The trend line chart for Opening and Closing Ranks provides valuable information for individuals participating in the IIT admission process. By analyzing this chart, prospective students can observe the historical trends of the Opening and Closing Ranks for their desired branch over the past 7 years. This information allows them to understand the competitiveness and admission criteria for their preferred branch, aiding in making informed decisions regarding their IIT admission strategy.<br>
            <h5>College Suggestion:</h5>Students can utilize this feature by selecting their desired rank, category, and gender in the provided dropdown menus. Upon submission, the system will fetch and display a table with relevant data, including opening and closing ranks, institutes, years, and rounds. This empowers students to make informed decisions about college admissions based on their preferences and eligibility.
        </p>         
    </div>
    <div class="source">
        <h2>
            Every information shown on this website has been directly taken from <a href="https://josaa.nic.in/">official website of Josaa</a>.
        </h2>
        <h6>Team :</h6>
        <h6>Vishwajeet Prajapati</h6>
        <h6>Subham Kumar</h6>
        <h6>Adarsh Sharma</h6>
        <h6>Haribhajan Kushwaha</h6>
    </div>
      
</body>